html, body {
    width: 100%;
    height: 100%;
}

.section {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.section-a .navbar {
    flex-direction: row;
}
.section-a .navbar a {
    padding: 0 12px;
}

#react-logo {
    position: relative;
}

#intro-background {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(../img/background.jpg) center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}

#iphone-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    transform: translate(0, -35%);
}

.section-b {
    flex-direction: row;
}

.section-b .feature-description {
    align-self: stretch;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
}

.iphone-demo {
    justify-content: center;
    height: 100%;
}

.feature-description {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
}

.img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iphone-demo2, .feature-description2 {
    align-self: stretch;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
}

.section-c {
    overflow: hidden;
}

.android-robot {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotate(-45deg);
}

#slider-control {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    padding: 3px;
}

#slider-control a {
    padding: 3px;
}

#slider-control .dot {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 8px;
}

#slider-control .active .dot {
    background-color: #fff;
}